html {
    --positive-green: #27993e;
    --negative-red: #f8513d;
    --fancy-blue: hsl(216, 100%, 80%);

    --color-scale-white: #1b1f23;
    --color-scale-black: #fff;
    --color-scale-gray-9: #fafbfc;
    --color-scale-gray-8: #f6f8fa;
    --color-scale-gray-7: #e1e4e8;
    --color-scale-gray-6: #d1d5da;
    --color-scale-gray-5: #959da5;
    --color-scale-gray-4: #6a737d;
    --color-scale-gray-3: #586069;
    --color-scale-gray-2: #444d56;
    --color-scale-gray-1: #2f363d;
    --color-scale-gray-0: #24292e;
    --color-header-bg: hsl(210, 22%, 12%);
    color-scheme: light;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

#options details {
    display: flex;
    margin: 0 5px 10px 5px;
}

content {
    height: 100%;
    grid-area: content;
    display: grid;
    grid-template-areas:
        "nav main";
    grid-auto-columns: 200px auto;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color-scale-black);
    color: var(--color-scale-white) !important;
}

body {
    display: grid;
    grid-template-areas:
        "head"
        "content";
    grid-auto-rows: 40px auto;
}

h1 {
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--color-header-bg);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: head;
    color: #fff;
}

header #sign-in-google {
    line-height: 10px;
    height: 20px;
    justify-self: right;
    background: var(--color-scale-gray-2);
}

nav {
    background-color: var(--color-scale-gray-9);
    overflow: auto;
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

#notes-holder {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    height: -webkit-fill-available;
    resize: both;
    min-width: 100%;
    width: 100%;
    gap: 2px;
    overflow: auto;
}

#notes-holder button {
    min-height: 32px;
    line-height: 100%;
    margin: 0;
}

nav #options {
    min-height: 100px;
    overflow: auto;
    font-size: 0.8em;
}

button {
    line-height: 100%;
    margin: 2px 2px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    text-align: left;
    color: inherit;
    font: inherit;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #cee8ff;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 40px;
}

main textarea {
    background-color: var(--color-scale-gray-8);
    border: 0;
    border-radius: 0;
    resize: vertical;
    height: 100%;
    overflow: auto;
}

related-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-variant: all-small-caps;
    min-height: 20px;
}

logger {
    height: 30px;
    background: var(--color-scale-gray-8);
    overflow: auto;
    font-size: 0.8em;
    font-family: monospace;
    white-space: pre-wrap;
}

button.loading {
    --color1: #777;
    --color2: #222;
    background: repeating-linear-gradient(135deg, var(--color1) 0px, var(--color1) 10px, var(--color2) 10px, var(--color2) 20px);
    animation: loading-button 2s linear infinite;
}

*:not(button).loading {
    --color1: #1a66d7;
    position: relative;
}

*:not(button).loading::after {
    content: '';
    background-color: var(--color1);
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading-div 5s linear infinite;
}

#notes-holder button.selected {
    background-color: var(--fancy-blue);
}

#notes-holder button.yellowed {
    color: yellow;
}
#notes-holder button.pinked {
    color: magenta;
}
#notes-holder button.yellowed.pinked {
    color: lime;
}

*:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
}

@keyframes loading-div {
    from {
        width: 5px;
        left: 0px;
    }

    2% {
        width: 5px;
        left: 0px;
    }

    25% {
        width: min(20%, 500px);
    }

    50% {
        width: 5px;
        left: calc(100% - 5px);
    }

    52% {
        width: 5px;
        left: calc(100% - 5px);
    }

    75% {
        width: min(20%, 500px);
    }

    to {
        width: 5px;
        left: 0px;
    }
}

@keyframes loading-button {
    to {
        background-position-x: 20px;
    }
}

.mine_chop_dig-loading {
    position: relative;
    overflow: visible;
    --color1: var(--color-scale-gray-5);
    --color2: blue;
}

.mine_chop_dig-loading::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 20px;
    transform: scaleX(2) scale(2);
    transform-origin: top right;
    background: url(../assets/textures/ui/mine_chop_dig_animation.png) no-repeat 0px / 910px 100%;
    image-rendering: pixelated;
    animation: mine_chop_dig 4s steps(91) infinite;
    filter: drop-shadow(2px 2px 1px var(--color-scale-black));
}

.mine_chop_dig-loading::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 20px;
    transform: scaleX(2) scale(1.5);
    border-radius: 100%;
}

button.mine_chop_dig-loading {
    overflow: hidden;
}

button.mine_chop_dig-loading::after {
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scaleX(2);
    filter: none;
}

button.mine_chop_dig-loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: none;
    filter: none;
    background: var(--color1);

}

@keyframes mine_chop_dig {
    to {
        background-position-x: -910px;
    }
}