* {
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: mc-seven, sans-serif;
    transition: transform 500ms linear;
}

background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    overflow: visible;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    width: min(500px, 100%);
}

header img.title {
    width: min(500px, 100%);
}

#splash-text {
    position: absolute;
    width: min-content;
    max-width: 50%;
    z-index: 99999999;
    bottom: 0px;
    right: 0px;
    transform: rotate(-20deg);
    color: yellow;
    text-shadow: 0 0.12em black;
    text-align: center;
    font: normal 100 1.5em mc-seven;
    animation: boop 250ms infinite linear alternate;
    overflow: visible;
}

@media (prefers-reduced-motion: reduced) {
    #splash-text {
        animation: none;
    }
}

@keyframes boop {
    to {
        transform: rotate(-20deg) scale(0.90);
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: auto;
    margin-top: min(100px, 10vh);
    height: 200px;
    width: min(500px, 100%);
}

#make-gist {
    height: 100%;
    width: 100%;
}

#make-gist container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 40px;
    place-items: center;
    padding: 20px;
    gap: 10px;
}

#full-book {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.book {
    height: 100%;
    width: min(500px, 100%);
    image-rendering: pixelated;
    border: 20px solid blue;
    border-image: url(assets/textures/book/book.png) repeat 70 fill / 100px;
    /* border-image: url(assets/textures/book/book_frame.png) 20 fill / 90px; Bedrock Edition Book frame*/
    position: relative;
    display: block;
}

#message-input:focus {
    border: 0;
    outline: 0;
}

.book>div {
    position: absolute;
    top: 5%;
    left: 8%;
    bottom: 8%;
    width: 83%;
}

.gist,
#meta-info {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    resize: none;
    overflow: auto;
    background: none;
    font: inherit;
    font-size: 2em;
}

#meta-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    text-align: center;
}

select,
#author {
    background: none;
    font-size: 0.5em;
    outline: none !important;
    font: inherit;
    font-size: 0.8em;
    color: maroon;
    display: block;
    margin: 10px 0 0 0;
    border: 0;
}

option {
    font-size: initial;
}

#make-gist .controls {
    width: min(800px, 100%);
    display: flex;
    justify-content: space-between;
}

#information>div {
    width: 100%;
    height: 100%;
    padding: min(5vh, 40px) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: min(40ch, 100%);
    height: 100%;
    border: 5px solid #c4c4c4;
    color: #fff;
    font-size: 1.5em;
    background: #000a;
    line-height: 1.3em;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

main #info {
    overflow: auto;
    height: 100%;
    padding: 10px;
    border: 3px inset #eee;
}

button.mc-bedrock-inbox {
    background: none;
    border: 0;
    font: inherit;
    color: currentColor;
    font-family: mc-seven;
    font-weight: 100;
    position: absolute;
    right: min(1%, 10px);
    top: 50%;
    transform: translateY(-50%);
}

button.mc-bedrock-inbox:hover,
button.mc-bedrock-inbox:focus-visible {
    background: #fffa
}

button.mc-bedrock-inbox:active {
    background: #fffc;
}

main h1 {
    font-family: mc-ten, mono;
    letter-spacing: 1px;
    text-align: center;
    background: #c4c4c4;
    color: #535353;
    padding: 20px 0;
    margin: 0;
    position: relative;
}

h2,
h3,
h4 {
    font-family: mc-five, monospace;
}

button.mc-java {
    margin: 5px;
    border: 0;
    /*border-radius: 5px;*/
    padding: 5px 2px;
    font-family: mc-seven;
    font-size: 1.2em;
    text-shadow: 1px 1px 0 #464646;
    color: #fff;
    background-color: #868282;
    border-image: url(assets/textures/ui/mc-java-button.jpg) 10 fill / 20px;
    border-image-source: url(assets/textures/ui/mc-java-button.webp);
    height: 40px;
    user-select: none;
    width: 100%;
}

button.mc-java:hover,
button.mc-java:focus-visible {
    outline: 2px solid white;
}

button.mc-java:active {
    filter: url("#blueOverlay");
}

footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    font-size: 1.2em;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

chat {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: min(50px, 10%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 99999999999;
    pointer-events: none;
}

chat p {
    background: #000a;
    color: white;
    margin: 0;
    transition: opacity 1000ms linear;
    font-size: 1.2em;
    padding: 3px 2px;
    pointer-events: all;
}

#chat-history {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: all;
}

#messages {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

chat-input {
    display: grid;
    grid-template-columns: auto 40px 40px;
    order: 1;
    margin-top: 5px;
    pointer-events: all;
    flex-shrink: 0;
}

#live-chat {
    width: 70%;
}

button.mc-java.small {
    margin: 0;
    outline-offset: -2px;
}

#message-input {
    background: #000a;
    border: 0;
    padding: 5px;
    color: white;
    font-size: 1.4em;
    font-family: inherit;
    border-radius: 0;
}

#open-chat {
    display: none;
}

@media (pointer: coarse) {
    #open-chat {
        display: block;
    }
}

.screen {
    display: none !important;
}

.screen.active {
    width: 100%;
    height: 100%;
    display: block !important;
}

.advancement {
    position: fixed;
    top: 0;
    right: -100%;
    background: #212121;
    width: min(320px, 100%);
    height: 64px;
    z-index: 9999999999;
    border: 1px solid black;
    box-shadow: inset 0 0 0 3px #555;
    border-radius: 5px;
    display: grid;
    grid-template-areas: "icon title""icon desc";
    padding: 5px;
    gap: 5px 10px;
    grid-template-columns: 54px auto;
    font-size: 20px;
    transition: right 1s linear;
}

.advancement .icon {
    grid-area: icon;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.advancement .title {
    color: yellow;
    grid-area: title;
    align-self: flex-end;
}

.advancement .desc {
    grid-area: desc;
    color: white;
    align-self: flex-start;
}

@font-face {
    font-family: mc-ten;
    src: url(assets/fonts/Minecraft-Ten-b8f2d.otf);
}

@font-face {
    font-family: mc-seven;
    src: url(assets/fonts/Minecraft-Seven-29cc6.otf);
}

@font-face {
    font-family: mc-five;
    src: url(assets/fonts/Minecraft-Five-070d5.otf);
}

auto-save {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 60px;
    transform-origin: top right;
    transform: scaleX(2);
    image-rendering: pixelated;
    background: url(assets/textures/ui/auto_save.png) no-repeat 0 / 162px 100%;
    animation: auto_save 1s steps(9) infinite;
    pointer-events: none;
}

@keyframes auto_save {
    to {
        background-position-x: -162px;
    }
}

body.jeb_ {
    outline-color: #2bda9d;
    animation: jeb 20s linear infinite alternate;
}

@keyframes jeb {
    9% {
        outline-color: #d66800;
    }
    18% {
        outline-color: #dc64d0;
    }
    27% {
        outline-color: #179ecf;
    }
    36% {
        outline-color: #549900;
    }
    45% {
        outline-color: #ff337e;
    }
    54% {
        outline-color: #1b8f96;
    }
    63% {
        outline-color: #8c33bf;
    }
    72% {
        outline-color: #34369c;
    }
    81% {
        outline-color: #724a2a;
    }
    90% {
        outline-color: #667f25;
    }
    100% {
        outline-color: #a32b24;
    }
}

.hidden {
    display: none;
}

.next-page, .back-page {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-size: 30px;
    font-weight: 1000;
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='10' x='120' y='0' /%3E%3Crect width='10' height='10' x='110' y='10' /%3E%3Crect width='10' height='10' x='120' y='20' /%3E%3Crect width='10' height='10' x='130' y='30' /%3E%3Crect width='10' height='10' x='120' y='40' /%3E%3Crect width='60' height='10' x='60' y='50' /%3E%3Crect width='10' height='10' x='50' y='40' /%3E%3Crect width='10' height='10' x='40' y='30' /%3E%3Crect width='10' height='10' x='30' y='20' /%3E%3Crect width='10' height='10' x='20' y='30' /%3E%3Crect width='10' height='10' x='10' y='40' /%3E%3Crect width='10' height='10' x='0' y='50' /%3E%3Crect width='10' height='10' x='10' y='60' /%3E%3Crect width='10' height='10' x='20' y='70' /%3E%3Crect width='10' height='10' x='30' y='80' /%3E%3Crect width='100' height='10' x='40' y='90' /%3E%3Crect width='10' height='10' x='140' y='80' /%3E%3Crect width='10' height='10' x='150' y='70' /%3E%3Crect width='10' height='10' x='160' y='60' /%3E%3Crect width='10' height='10' x='170' y='70' /%3E%3Crect width='10' height='10' x='180' y='80' /%3E%3Crect width='10' height='70' x='190' y='10' /%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 25px;
}
.next-page:hover, .back-page:hover {
    filter: drop-shadow(0px 0px 5px #c3251d);
}

.next-page {
    right: 0;
}

.back-page {
    left: 0;
    transform: rotateY(180deg);
}